.create-recipe{

    &__input{
        background-color: var(--color-grey-light-2);
        font-size: 4rem;
        padding: .5rem 2rem;
        border-radius: .5rem;
        height: 100%;
        width: 100%;
        outline: none;
        transition: all .2s;
        @media only screen and (max-width: $bp-smallest){
            width: 0;
            flex: 1;
            margin: 0 $m-size 0 0;
        }
    }
}

