
.popup{

    outline: none;
    border-radius: .5rem;
    border: 1px solid var(--color-prmiary-4);
    background: linear-gradient(to right bottom, var(--color-primary-1), var(--color-primary-3));
    padding: 3rem;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    color: var(--color-grey-dark-1);

    &--gradient{
        border: 1px solid var(--color-primary-4);
    }

    &--first-login{
        padding: 0;
        border: 1px solid var(--color-primary-5);        
    }

    &__btn{
        box-shadow: 0 1rem 4rem rgba(black, .15);
        padding: .75rem 2rem;
        color: var(--color-grey-dark-2);
        font-size: 1.4rem;
        &-container{
            display: flex;
            align-items: center;
            justify-content: center;
            &--first-login{
                padding: 2rem;
                background-color: var(--color-primary-3);
            }
        }
        &--2{

            &:first-child{
                margin-right: 2rem;
            }
        }

        &:hover{
            transform: translateY(-.2rem);
        }
        &:active{
            transform: translateY(.1rem);
        }
    }

    &__set-data{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 2rem 1rem 2rem;

    }

    &__avatar{
        background-size: cover;
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        position: relative;
        margin-right: 2rem;
    }

    &__greeting{
        text-align: center;
        padding: 1.5rem 2rem 1rem 2rem;
        background-color: var(--color-primary-3);
        color: var(--color-grey-dark-1);

        &__span{
            display: block;
            font-size: 1.4rem;
        }
    }

    &__input{
        background-color: var(--color-grey-light-2);
        color: var(--color-grey-dark-2);
        text-align: center;
        padding: 1rem 3rem;
        border: none;
        border-radius: 10rem;
        display: block;
        width: 20rem;
        border-bottom: 2px solid var(--color-grey-dark-4);
        transition: all .2s;
        &--valid{
            border-bottom: 2px solid var(--color-green);
        }

        &--invalid{
            border-bottom: 2px solid var(--color-red);
        }
        &:focus{
            outline: none;
        }

    }


    &__close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: var(--color-primary-5);
        &:hover{
            cursor: pointer;
        }
    }

    &__span{
        margin-bottom: 1.5rem;
        display: block;
        font-size: 1.6rem;
        text-align: center;
    }

}