.popup{

    outline: none;
    border-radius: .5rem;
    border: 1px solid var(--color-prmiary-4);
    background: linear-gradient(to right bottom, var(--color-primary-1), var(--color-primary-3));
    padding: 3rem;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--color-grey-dark-1);

    &--gradient{
        border: 1px solid var(--color-primary-4);
    }

    &--first-login{
        width: 45rem;
        padding: 0;
        border: 1px solid var(--color-primary-5);
        @media only screen and (max-width: $bp-smallest){
            width: 40rem;
        }
        @media only screen and (max-width: $bp-tiny){
            width: 38rem;
        }        
    }

    &__btn{
        box-shadow: 0 1rem 4rem rgba(black, .2);
        padding: 1rem 2rem;
        color: var(--color-grey-dark-2);
        &-container{
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            &--first-login{
                padding: 2rem;
                background-color: var(--color-primary-3);
            }
        }
        &--2{
            box-shadow: 0 .3rem 1rem rgba(black, .2);

            &:first-child{
                margin-right: 2rem;
            }
        }

        &:hover{
            transform: translateY(-.2rem);
        }
        &:active{
            transform: translateY(.1rem);
        }
    }

    &__avatar{
        background-size: cover;
        border-radius: 50%;
        width: 35rem;
        height: 35rem;
        &-container{
            padding: 2rem;
            display: block;
            position: relative;
            display: flex;
            justify-content: center;
        }

    }

    &__greeting{
        text-align: center;
        padding: 1.5rem 2rem 1rem 2rem;
        background-color: var(--color-primary-3);
        color: var(--color-grey-dark-1);
        &__h{
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: .5rem;
            color: var(--color-grey-dark-2);
        }

        &__span{
            padding-top: .7rem;
            border-top: 1px solid var(--color-primary-1);
            display: block;
            font-size: 1.4rem;
        }
    }

    &__input{
        background-color: var(--color-grey-light-2);
        color: var(--color-grey-dark-2);
        text-align: center;
        padding: 1rem 3rem;
        border: none;
        border-radius: 10rem;
        display: block;
        width: 20rem;
        margin: 0 auto 2rem auto;
        border-bottom: 2px solid var(--color-grey-dark-4);
        transition: all .2s;
        &--valid{
            border-bottom: 2px solid var(--color-green);
        }

        &--invalid{
            border-bottom: 2px solid var(--color-red);
        }
        &:focus{
            outline: none;
        }

    }


    &__close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: var(--color-primary-5);
        &:hover{
            cursor: pointer;
        }
    }

    &__span{
        margin-bottom: 1.5rem;
        display: block;
        font-size: 1.6rem;
        text-align: center;
    }

}