.shopping-list{
    overflow: hidden;
    align-self: stretch;
    flex: 0 0 30%;
    background-color: var(--color-grey-light-2);
    border-left: 1px solid var(--color-primary-5);
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-medium){
        border: none;
        background: linear-gradient(to right bottom, var(--color-primary-2), var(--color-primary-3));
    }

    &--fullscr{
        flex:1;
    }
    @media only screen and (max-width: $bp-medium){
        //display: none;
        //visibility: hidden;
        //opacity: 0;
    }
    &__title{
        &-container{
            background-color: var(--color-grey-light-5);
            padding: 2rem;
            text-align: center;
            font-weight: 300;

            @media only screen and (max-width: $bp-medium){
                background-color: var(--color-primary-4);
            }
        }


        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
        background: -webkit-linear-gradient(var(--color-grey-dark-5), var(--color-primary-7));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }



    &__menu{
        background-color: var(--color-grey-light-5);
        @media only screen and (max-width: $bp-medium){
            background-color: var(--color-primary-4);
        }
        font-size: 1.2rem;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__ingredients{
        flex: 1;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__empty{
            align-self: center;
            margin-top: 3rem;
            font-size: 1.2rem;
            color: var(--color-grey-dark-2);
        }
    }
}